@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1578916171728-46686eac8d58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 5%;
    padding: 15px;
    position: relative;
}

main img {
    width: 100%;
    max-width: 400px;
}

.notas {
    width: 100%;
}

.container-form {
    position: absolute;
    left: 24%;
    top: 26.5%;
}

.container-lista {
    position: absolute;
    left: 21%;
    top: 32.5%;
}

.deletar {
    cursor: pointer;
}

li {
    display: flex;
    gap: 50px
}

.rodape {
    color: whitesmoke;
    position: absolute;
    left: 29%;
    top: 95%;
}